<nav>
    <div class="logo-wrap">
        <div class="dropdown">
        <a href="/"><img src="LEGWhiteNoBorder.svg" alt="LEG" width="35" height="35"></a>
        <div class="dropdown-content">
            <a href="/work">Our work</a>
            <a href="/members">Our members</a>
        </div>
        </div>
    </div>

    <div id="title"></div>
    <noscript>
        <div id="title">Low Effort Work</div>
    </noscript>
</nav>

<script>
  document.getElementById("title").textContent = document.title;
</script>