<div class="toolbar">
    <details open>
      <summary><span>File Conversion</span></summary>
    </details>
    <div class="content">
      <a href="/tools/archive">Archive conversion</a>
    </div>
    <details open>
      <summary><span>Data conversion</span></summary>
    </details>
    <div class="content">
      <a href="/tools/unit">Unit conversion</a>
      <a href="/tools/currency">Currency conversion</a>
    </div>
    <details open>
      <summary><span>General</span></summary>
    </details>
    <div class="content">
      <a href="/tools/qr">QR generator</a>
      <a href="/tools/hash">Hashing</a>
    </div>
</div>