<div class="toolbar hide">
    <details open>
      <summary><span>File</span></summary>
    </details>
    <div class="content">
      <a href="/tools/archive">Archive</a>
      <a href="/tools/media">Images</a>
    </div>
    <details open>
      <summary><span>Data</span></summary>
    </details>
    <div class="content">
      <a href="/tools/unit">Unit</a>
      <a href="/tools/currency">Currency</a>
    </div>
    <details open>
      <summary><span>General</span></summary>
    </details>
    <div class="content">
      <a href="/tools/qr">QR</a>
      <a href="/tools/hash">Hashing</a>
      <a href="/tools/encoding">Encoding</a>
      <a href="/tools/dns">DNS</a>
    </div>
</div>